@font-face {
    font-family: "roboto_regular";
    src: url(fonts/roboto-regular-webfont.woff) format("woff"),
        url(fonts/roboto-regular-webfont.woff2) format("woff2");
}

@font-face {
    font-family: "roboto_italic";
    src: url(fonts/roboto-italic-webfont.woff) format("woff"),
        url(fonts/roboto-italic-webfont.woff2) format("woff2");
}


@font-face {
    font-family: "roboto_bold";
    src: url(fonts/roboto-bold-webfont.woff) format("woff"),
        url(fonts/roboto-bold-webfont.woff2) format("woff2");
}

strong {
    font-family: "roboto_bold";
}

body {
    max-width: 1000px;
    margin: auto;
    background: white;
}

div {
    text-align: left;
    margin: auto 3rem;
    padding: 1rem 3rem;
    width: auto;
    font-family: 'roboto_regular';
    color: black;
    background: lightgray;
    border-radius: 10px;

}

.container {
    position: relative;
}

.footText {
    position: absolute;
    bottom: -18px;
    right: 54px;
}

div h1,
img {
    text-align: center;
     !important
}

.resize {
    width: 100%;


}

h3,
h4 {
    font-family: "roboto_bold";

}

ul li {
    margin-bottom: .5rem;
}

a button {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 1px;
}
