@font-face {
    font-family: "roboto_regular";
    src: url(fonts/roboto-regular-webfont.woff) format("woff"),
        url(fonts/roboto-regular-webfont.woff2) format("woff2");
}

@font-face {
    font-family: "roboto_italic";
    src: url(fonts/roboto-italic-webfont.woff) format("woff"),
        url(fonts/roboto-italic-webfont.woff2) format("woff2");
}


@font-face {
    font-family: "roboto_bold";
    src: url(fonts/roboto-bold-webfont.woff) format("woff"),
        url(fonts/roboto-bold-webfont.woff2) format("woff2");
}


body {
    max-width: 1200px;
    margin: auto;
    background: #c2c5cc;
}

div {
    text-align: left;
    margin: auto 3rem;
    padding: 0 6rem;
    width: auto;
    font-family: 'roboto_regular';
    color: black;
}

div h1,
img {
    text-align: center;
     !important
}

.resize {
    width: 100%;
}

h3 {
    font-family: "roboto_bold";

}
